.contact_container {
    width: 740px;
    padding: 2em;
    margin: 0 auto;
}

.contacts_container h1,
.contact_container h1 {
    margin-bottom: .5em;
}

.contacts_container p,
.contact_container p {
    color: #7b7b7b;
}