.contact_container {
    width: 740px;
    padding: 2em;
    margin: 0 auto;
}

.contact_container h1 {
    margin-bottom: .5em;
}

.contact_container p {
    color: #7b7b7b;
}

.form {
    width: 100%;
    margin: 2.5em 0;
}